<a href="https://colab.research.google.com/github/tusharbhadak/Python/blob/main/BasicsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assignment :-

1. Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum.

In [17]:
num1 = int(input("Enter the First number :- "))
num2 = int(input("Enter the Second number :- "))

def product_or_sum(n1,n2):
  num=n1*n2
  if(num<1000):
     return num
  else:
     return n1+n2
result=product_or_sum(num1,num2)
print("Result :- ",result)

Enter the First number :- 20
Enter the Second number :- 80
Result :-  100

2. Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [ ]:
def sum(number):
  previousnum=0
  for i in range(number):
    sum=previousnum+i
    print("Current Number", i, "Previous Number ", previousnum," Sum: ", sum)
    previousnum=i

print("Sum of current and previous number in the given range :- ")
sum(10)

Sum of current and previous nuber in the given range :-
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

3. Given a string, display only those characters which are present at an even index number.

In [43]:
string=(input("Enter the String :- \n"))
even_str=string[::2]
print(even_str)

Enter the String :-
python
pto

4. Given a list of numbers, return True if first and last number of a list is same

In [45]:

#num=[10,20,30,4,50,10] 
num = int(input("Enter number of elements : "))  
a = list(map(int,input("\nEnter the numbers : ").strip().split()))[:num] 
  
print("\nList is - ", a) 

def first_last(numlist):
  firstnum=a[0]
  lastnum=a[-1]
  if (firstnum==lastnum):
    return True
  else:
    return False 

print("Result :- ", first_last(num))

Enter number of elements : 4

Enter the numbers : 10 20 30 40

List is -  [10, 20, 30, 40]
Result :-  False

5. Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

In [ ]:
a1=[10,20,30,40,50,60]
a2=[100,200,300,400,500]

listThree = list()

oddElements = a1[1::2]
print("Element at odd-index positions from list one")
print(oddElements)

EvenElement = a2[0::2]
print("Element at even-index positions from list two")
print(EvenElement)

print("Printing Final third list")
listThree.extend(oddElements)
listThree.extend(EvenElement)
print(listThree)

Element at odd-index positions from list one
[20, 40, 60]
Element at even-index positions from list two
[100, 300, 500]
Printing Final third list
[20, 40, 60, 100, 300, 500]

6. Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [47]:
numberList = []
n = int(input("Enter the list size more than 5 : "))

print("\n")
for i in range(0, n):
    print("Enter number at location", i, ":")
    item = int(input())
    numberList.append(item)
print("User List is :- \n", numberList)

#removing element at index 4
element=numberList.pop(4)
print("Updated User List is :- \n", numberList)

#adding element to the 2nd position
numberList.insert(2, element)
print("List after Adding element at index 2 :- \n", numberList)

#adding element at the end of the list
numberList.append(element)
print("List after Adding element at last :- ", numberList)

Enter the list size : 5


Enter number at location 0 :
1
Enter number at location 1 :
2
Enter number at location 2 :
3
Enter number at location 3 :
4
Enter number at location 4 :
5
User List is :-
 [1, 2, 3, 4, 5]
Updated User List is :-
 [1, 2, 3, 4]
List after Adding element at index 2 :-
 [1, 2, 5, 3, 4]
List after Adding element at last :-  [1, 2, 5, 3, 4, 5]

7. Given a list slice it into a 3 equal chunks and rever each list

In [50]:
numberList = [1,2,3,4,5,6,7,8,9]
print("Original List is :- \n", numberList)

length = len(numberList)
if(length%3 != 0):
  print("Enter the list size that is divisible by 3")
else:  
  chunkSize  = int(length/3)
  start = 0
  end = chunkSize
  for i in range(1, 4, 1):
    indexes = slice(start, end, 1)
    listChunk = numberList[indexes]
    print("Chunk ", i ,":- ", listChunk)
    print("After reversing it :- ", list(reversed(listChunk)))
    start = end
    if(i != 2):
      end +=chunkSize
    else:
      end += length - chunkSize

Original List is :-
 [1, 2, 3, 4, 5, 6, 7, 8, 9]
Chunk  1 :-  [1, 2, 3]
After reversing it :-  [3, 2, 1]
Chunk  2 :-  [4, 5, 6]
After reversing it :-  [6, 5, 4]
Chunk  3 :-  [7, 8, 9]
After reversing it :-  [9, 8, 7]

8. Given a list iterate it and count the occurrence of each element and create a
dictionary to show the count of each element

In [ ]:
numList = [2,4,6,3,4,5,6,8,1,2,5,2,4,2]
print("Original list ", numList)

countDict = dict()
for item in numList:
  if(item in countDict):
    countDict[item] += 1
  else:
    countDict[item] = 1
  
print("Printing count of each item  ",countDict)

Original list  [2, 4, 6, 3, 4, 5, 6, 8, 1, 2, 5, 2, 4, 2]
Printing count of each item   {2: 4, 4: 3, 6: 2, 3: 1, 5: 2, 8: 1, 1: 1}

9. Add a list of elements to a given set: {‘yellow’,’orange’} List:[blue,black]

In [ ]:
#colorset=set(['yellow','orange'])
colorset={'yellow','orange'}
colorlist=['blue','black']
colorset.update(colorlist)
print(colorset)

{'yellow', 'blue', 'black', 'orange'}

10. Print the following pattern

1 

1 2 

1 2 3

1 2 3 4 

1 2 3 4 5

In [ ]:
rows = 5
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

calculate the sum of all number between 1 and given number

In [52]:
num = int(input("Enter the number :-"))
sum = 0
for i in range(2,num):
  sum += i
print("Total sum :- ",sum)

Enter the number :-5
Total sum :-  9

Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

In [56]:
"""
list1 = []
n = int(input("Enter the list size : "))

print("\n")
for i in range(0, n):
    print("Enter number at location", i, ":")
    item = int(input())
    numberList.append(item)
print("User List is :- \n", list18)
"""
list1=[20,15,45,20,36,47,100,125,140,148,150,165,151,180,5]
list1.sort()

for item in list1:
    if (item > 150):
        break
    if(item % 5 == 0):
        print(item)

5
15
20
20
45
100
125
140
150

13. Reverse the following list using for loop

List1 = [10,20,30,40]

In [61]:
# Reversing a list using reverse() 
list1=[10,20,30,40]
list2 = list()
for i in range(0,len(list1)):
  list2.append(list1[-i-1])

print(list2)

[40, 30, 20, 10]

Python program to display all the prime numbers within a range

In [63]:
# Python program to display all the prime numbers within an interval

num1 = int(input("Enter the lower number :- "))
num2 = int(input("Enter the Upper number :- "))

print("Prime numbers between", num1, "and", num2, "are :-")

for num in range(num1, num2 + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter the lower number :- 2
Enter the Upper number :- 50
Prime numbers between 2 and 50 are :-
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Following is the provided numPy array. return array of items in the third column
from all rows

import numpy

sampleArray = numpy.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])

In [68]:
import numpy as np

sampleArray = np.array([[11,22,33],[44,55,66],[77,88,99]])
print(sampleArray[:,2])

[33 66 99]

Create a 4X2 integer array and Prints its attributes

In [79]:
import numpy as np

Array1 = np.random.randint(10, size=(4, 2)) 
print("Printing Array :- ")
print(Array1)

print("Printing numpy array Attributes")
print("1). Array Shape is: ", Array1.shape)
print("2). Array dimensions are ", Array1.ndim)
print("3). Length of each element of array in bytes is ", Array1.itemsize)

Printing Array :-
[[2 7]
 [8 6]
 [0 6]
 [0 7]]
Printing numpy array Attributes
1). Array Shape is:  (4, 2)
2). Array dimensions are  2
3). Length of each element of array in bytes is  8