<a href="https://colab.research.google.com/github/tusharbhadak/Python/blob/main/PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from array import *

msc = array('i',[1,2,3,4,5])
for i in msc:
  print(i)
  
print("------access-----")
print(msc[3])

print("---append----")
msc.append(6)
print(msc)

print("---delete---")
del msc[3]
print(msc)

print("---index----")
print("First Element :-> ",msc[0])
print("First Element :-> ",msc[-5]) #backward indexing

print("---indexing----")
number = array("i",[1,2,3,4,5,6,7,8,9])
print(number)
print(number[:-5])


print("----list----")
mylist = ['H','E','L','L','O']
print(mylist)

#UPPERCASE
print("---UPPERCASE---")
st="AbCd"
print(st.upper())
#lowercase
print(st.lower())
#checking the string is in uppercase or not.
print(st.isupper())
#checking the string is in uppercase or not.
print(st.islower())

1
2
3
4
5
------access-----
4
---append----
array('i', [1, 2, 3, 4, 5, 6])
---delete---
array('i', [1, 2, 3, 5, 6])
---index----
First Element :->  1
First Element :->  1
---indexing----
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9])
array('i', [1, 2, 3, 4])
----list----
['H', 'E', 'L', 'L', 'O']
---UPPERCASE---
ABCD
abcd
False
False

**Python 3**

-> Python was invented by Guido Van Rossum in 1991.

-> Python is easy to learn and popular programming language.

-> Free and Open Source.

-> File extension which is used by Python source file is “.py” 

-> Case sensitive

In [5]:
#Print function
#Syntax - print()
# '#' used for commenting single line (shortcut key - Ctrl+1). For multi-line comments used Ctrl+4.

print("Hello")
print('Welcome')

#Case sensitive example
a=10
A=20
print(a)
print(A)

Hello
Welcome
10
20

**Variables :-**

->Variable is nothing but, the value that we assign for a letter or word.

-> Python is dynamically typed, which means that you don't have to declare what type each variable is.

In [6]:
#Variables
#Rules for variables :-
# 1. A variable must start with a letter or a underscore character & 2. Variable names are case sensitive.
age=10
_age=20  #case sensitive
AGE=30
print(a)
print(_a)
Print(AGE)

# 3. A variable cannot start with a number.
"""
1a=10
print(1a)
"""

# 4. Variable name can only contain alpha numeric characters and underscores.(a-z, A-Z, 0-9, _).

10
20

**Data Types in Python**

Python has 6 data types :-
-> Number

-> String

-> List

-> Tuple

-> Dictionary

-> Sets

In [8]:
#Number - stores the numeric value.
# 4 different numerical types:-

# Int
a=10
print(type(a))  #type() method returns class type of the argument(object) passed as parameter

#Float
A=10.0
print(type(A))

#Long
#there is no 'long' in python 3, but it was supported in python 2. Because python2 supports only 2 types - int and long.

#Complex
_a=3.14j
print(type(_a))

#It is possible to represent an integer in hexa-decimal or octal form
num=0xA0F  #Hexa-decimal
print(num)

NUM=0o37   #Octal
print(NUM)

<class 'int'>
<class 'float'>
<class 'complex'>
2575
31

**Number Type Conversion**

Python converts numbers internally in an expression containing mixed types to a common type for evaluation. Sometimes, you need to coerce a number explicitly from one type to another to satisfy the requirements of an operator or function parameter.

In [11]:
a=10.0523
print(int(a))         # Type int(x) to convert x to a plain integer.
#print(long(a))       # Type long(x) to convert x to a long integer.
print(float(a))       # Type float(x) to convert x to a floating-point number.
print(complex(a))     # Type complex(x) to convert x to a complex number with real part x and imaginary part zero.

10
10.0523
(10.0523+0j)
10.0523

**String**

string literal in python are surrounded by either single quote or double quotes.

In [17]:
#String
a='PYTHON 3'
b="Welcome to basics of Python 3 by Tushar"
print(a)
print(type(a))
print(b)
print(type(b))

# Is it possible to use triple quotes? Let's see
_a =""" Hello Everyone"""
print(_a)
print(type(_a))

PYTHON 3
<class 'str'>
Welcome to basics of Python 3 by Tushar
<class 'str'>
 Hello Everyone
<class 'str'>

**List**

-> List is a collection which is ordered and changeable.

-> It allows duplicate members.

-> In Python lists are written with square brackets. '[]'

In [27]:
#List
Fruit=['Apple','Banana','Cherry','Mango','Apple']
print(Fruit)
print(type(Fruit))

#Some List methods :-
print('-----Append method-----')
# 1. Append method - add new item in list
# Syntax - append()
Fruit.append('Kiwi')
print(Fruit)

print('-----Copy method-----')
# 2. Copy method - copy the whole list
# Syntax - copy()
X=Fruit.copy()
print(X)

print('-----Count method-----')
# 3. Count method - returns the number of elements with specified value
# Syntax - count()
X=Fruit.count('Apple')
print(X)

print('-----Extend method-----')
# 4. Extend method - adds the specified list elemnts(or any iterable) to the end of current list
# Syntax - extend()
num=(10,20,30,45)
Fruit.extend(num)
print(Fruit)

print('-----Index method-----')
# 5. Index method - returns index of the first element of specified value
# Syntax - index()
_x=Fruit.index('Apple')
print(_x)


print('-----Clear method-----')
# 6. Clear method - removes all the element from list
# Syntax - clear()
Fruit.clear()
print(Fruit)

# There are more methods such as Insert, Pop, Remove, Reverse, Sort, Concatenate. Try it by yourself.

['Apple', 'Banana', 'Cherry', 'Mango', 'Apple']
<class 'list'>
-----Append method-----
['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Kiwi']
-----Copy method-----
['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Kiwi']
-----Count method-----
2
-----Extend method-----
['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Kiwi', 10, 20, 30, 45]
-----Index method-----
0
-----Clear method-----
[]

**Tuple**

-> Tuple is a collection which is ordered and unchangeable.

-> In Python tuples are written in round brackets. '()'

In [28]:
#Tuple

thistuple = (1,2,3,4)
print(thistuple)
print(type(thistuple))

#Tuple has also count method and index method.

(1, 2, 3, 4)
<class 'tuple'>

**Dictionary**

-> It is a collection which is unordered, changeable and indexed.

-> In Python, Dictionaries are written with curly brackets. '{}'

-> It has Key and value pair.

-> We can access the items of a dictionary by referring to its key name, inside square brackets.

In [33]:
#Dictionary

car={'Brand':'BMW','Model':'X6', 'Year':2019}
print(car)
print(type(car))

#Dictionary Methods
# It also has methods like clear, copy, items, popitem, setdefault, update, values

# Items method
print(car.items())

#Value method
print(car.values())

{'Brand': 'BMW', 'Model': 'X6', 'Year': 2019}
<class 'dict'>
dict_items([('Brand', 'BMW'), ('Model', 'X6'), ('Year', 2019)])
dict_values(['BMW', 'X6', 2019])

**Set**

-> A Set is a collection which is unordered (items will appear in random number) and unidexed.

-> In Python, set are written with curly brackets. '{}'

In [35]:
# Set

comp={'Microsoft','Google','IBM'}
print(comp)
print(type(comp))

# Set methods also have methods like add(), clear(), discard(), pop(), remove(), update(), difference_update(), union(), intersection(), symmetric_difference(), isdisjoint(), issubset()

{'Google', 'Microsoft', 'IBM'}
<class 'set'>